<div class="col-md-10 col-lg-8 col-xl-7">
  <% for(var i=0; i < g2Registrations.length; i++) { %>
  <div class="post-preview">
    <a href="post.html">
      <h2 class="post-title"><%= g2Registrations[i].carDetails.make %></h2>
      <h3><%= g2Registrations[i].carDetails.model %></h3>
      <h3 class="post-subtitle">
        <%=g2Registrations[i].firstName + " " + g2Registrations[i].lastName %>
      </h3>
    </a>
    <p class="post-meta">
      Plat No: <%= g2Registrations[i].carDetails.platNo %>
      <br />
    </p>
  </div>
  <% } %>
  <hr class="my-4" />
</div>
